[Desktop Entry]
Type=Application
Name=Wombat
Comment=High-precision scientific calculator with full unit support, powered by Numbat
Exec=wombat
Icon=io.github.archisman_panigrahi.wombat
Keywords=Calculator;Scientific;Precision;Unit;Converter;Numbat
Terminal=false
Categories=Utility;Science;Education;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
